.slide-wrapper {
position: relative;
  
}


.alignCenter{
    text-align: center;
}

.topholder {
    z-index: 100;
    margin-right: auto;
    margin-left: auto; 
    border:1px solid green;
    background-color: azure;

}


@media (min-width: 768px) { 
    .carousel-caption {
        text-align: left;
        padding-right: 300px;
    }
    .topholder {
        position: absolute;
        top: 0;
        bottom: 0;
        margin-top:2%;
        margin-left:45%;
    }

    .orderForm{
        min-width:500px;
           
    }
    

}


/* MISC */
#homepage-feature .item {
    overflow: hidden;
    height: 400px;
    background-color: transparent;
    background-size: cover;
}
#homepage-feature > .carousel-control {
    width: 30px;
    font-size: 40px;
    color: #fff;
    text-shadow: none;
    filter: none;
    opacity: 1;
}
#homepage-feature > .carousel-control span {
    position: absolute;
    top: 50%;
    margin-top: -30px;
    width: 100%;
    text-align: center;
    display: block;
}




@media (min-width: 577px) {
  .borderb{
      border-right:1px solid #003f74;

  }

  .fontBottomlittle{
    font-size:20px; 

   }
 
 }

 @media (max-width: 576px) {
   .borderb{
       border-bottom:1px solid #003f74;
    
   }

   .marginBottom{
    margin-bottom:15px; 

   }

   .fontBottom{
    font-size:15px; 

   }
   .fontBottomlittle{
    font-size:12.5px; 

   }


  }




 * {
     box-sizing: border-box;
 }

.footer a {
color:#ffffff;

}
 .d-inline-flex a{
   color:#ffb500;
   } 

.navbar-nav > li{
  margin-left:40px;
  margin-right:40px;
}

.carousel-inner img {
     width: 100%;
     height: 100%;
 }

 button{
     cursor: pointer;
 }

 