
<div class="container" style="border:1px solid green;" >
          <div class="d-inline-flex p-2 "   style="width: 100%;text-align:center;border-top:1px solid #ffb500;color:#ffb500">
 <!-- phone number -->
              <div class="col-lg-2.5 m-r-4"  style="white-space:nowrap;">
                  <div style="display:inline;">
                    <img  src="../assets/images/bp.png" />
                  </div>
                  <div style="display:inline;font-size:12px; white-space:nowrap;color:#ffb500;">1800 123 3066</div>
              </div>
 <!-- mail -->
              <div class="col-lg-2 d-none d-md-block "  style="white-space:nowrap;">
                  <div style="display:inline;">
                    <img  src="../assets/images/mail.png" />
                  </div>
                  <div style="display:inline;font-size:12px; white-space:nowrap;color:#ffb500;">forex@nishiforex.com</div>
              </div>
<!-- Live Rates -->

            <div class="col-lg-4 d-none d-sm-block" style="font-weight:bold;color:#ffb500;font-size:20px;width: 100%;">
              <a href="1">Live Rates</a>
            </div>
            <div class="col-lg-2 d-none d-sm-block" style="color:#ffb500;font-size:20px;width: 100%;">
              <a href="1">About Us</a>
            </div>
            <div class=" col-lg d-none d-sm-block" style="color:#ffb500;font-size:20px;width: 100%;">
              <a href="1">Services</a>
            </div>
            <div class="col-lg-2" style="padding-top: 8px;font-size:13px;color:#ffb500;font-weight:bold">
              <a  href="1">Login</a>/<a href="sa">Register</a>
            </div>

          </div>


  <nav class="navbar navbar-expand-md bg-light navbar-light " data-spy="affix"  style=" font-weight:bold;border-top:1px solid #ffb500;border-bottom:1px solid #ffb500;">
  <a class="navbar-brand " href="#">
      <img src="../assets/images/logo.png" alt="Logo" style="width:100px;">
  </a>
  <button class="navbar-toggler" style="background:#ffb500" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div style="float:right" class="collapse navbar-collapse" id="collapsibleNavbar">
    <div class="row " style="justify-content: flex-end;" >
      <div  class="col-sm-2 ">
        <a class="nav-link" style="color:#ffb500; margin-left:20px;margin-right:20px;"  href="#">Buy Forex</a>
      </div>
      <div  class="col-sm-2">
        <a class="nav-link" style="color:#ffb500; margin-left:20px;margin-right:20px;"  href="#">Sell Forex</a>
      </div>
      <div  class="col-sm-2">
        <a class="nav-link" style="color:#ffb500; margin-left:20px;margin-right:20px;"  href="#">Money Transfer</a>
      </div>
      <div  class="col-sm-2">
        <a class="nav-link" style="color:#ffb500; margin-left:20px;margin-right:20px;"  href="#">Forex Card</a>
      </div>
      <div class="col-sm-2">
        <a class="nav-link" style="color:#ffb500; margin-left:20px;margin-right:20px;"  href="#">Travel Insurance</a>
      </div>
    </div>
  </div>
</nav>
<br>



<div style="color:#003f74;font-weight:bold">
<p class="text-center">In a hurry ?</p>
<p class="text-center">Drop in Your Contact Details & We'll call you right back </p>

<form class="form-inline justify-content-center" >
  <div class="col-lg-2.5 m-r-4"  style="white-space:nowrap;padding-bottom:5px">
      <div style="display:inline;">
        <img  src="../assets/images/bp.png" />
      </div>
      <div style="display:inline; white-space:nowrap; color:#003f74;"> Request a call back &nbsp; &nbsp; </div>

  </div>

  <input type="text" style="float:right;border:1px solid #003f74" placeholder="Name" class="form-control mb-2 mr-sm-2" id="name">
  <input type="email" style="float:right;border:1px solid #003f74" placeholder="E-mail" class="form-control mb-2 mr-sm-2" id="email">
  <input type="number" style="float:right;border:1px solid #003f74" placeholder="Mobile No." class="form-control mb-2 mr-sm-2" id="mnumber">
  <button id="qry" type="submit" class="btn btn-primary mb-2">Call Me</button>
</form>

</div>
<br>
<!-- order template -->


<div class="slide-wrapper">

<div id="nishi" class="carousel slide" data-pause="hover"  data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#nishi" data-slide-to="0" class="active"></li>
    <li data-target="#nishi" data-slide-to="1"></li>
    <li data-target="#nishi" data-slide-to="2"></li>
    <li data-target="#nishi" data-slide-to="3"></li>
    <li data-target="#nishi" data-slide-to="4"></li>
  </ol>


  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../assets/images/slide1.png" alt="SliderImg" width="1100" height="200">
    </div>
    <div class="carousel-item">
      <img src="../assets/images/slide2.png" alt="SliderImg" width="1100" height="200">
    </div>
    <div class="carousel-item">
      <img src="../assets/images/slide3.png" alt="SliderImg" width="1100" height="200">
    </div>
    <div class="carousel-item">
      <img src="../assets/images/slide3.png" alt="SliderImg" width="1100" height="200">
    </div>
    <div class="carousel-item">
      <img src="../assets/images/slide3.png" alt="SliderImg" width="1100" height="200">
    </div>
  </div>


  <a class="carousel-control-prev" href="#nishi" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#nishi" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>


<div class="topholder">
    <div id="erroralert" *ngIf="error" class="alert alert-danger alert-dismissible fade show">
        <strong>Alert !</strong>   Please Fill all the fields.
    </div>

    <form class="form-control orderForm" id="orderForm" > 
         <div  class="row p-2 " >
              <div  class="col marginBottom fontBottom">
                  <select style="width: 100%" id="listLocation"><option></option></select>
              </div>
              <div class="col fontBottom">
                  <select  style="width: 100%" id="listCurrency"><option></option></select>
              </div>
        </div>
        <div class="row p-2">
            <div class="col fontBottom">
                <select  style="width: 100%" id="listProduct"><option></option></select>
            </div>

          </div>
          <div class="row p-2">
              <div  class="col">
                  <div style="width:100%" class="form-control">
                    <i style='color: #003f74;font-size:20px;' class='fa fa-money' ></i>
                    <input (keypress)="validate($event.target.value)" [ngModelOptions]="{standalone: true}" [(ngModel)] ="famount" (keyup)="setinr($event.target.value)"  style="font-weight:bold;width:55%;margin-left:20px;border:0;text-align:left;" type="number"  class="marginBottom fontBottomlittle " placeholder="Forex Amount">
                     <span style="display:inline-block;margin-left:10px;font-size:13px"> <i style='color: #003f74;font-size:20px;' class='fa fa-bar-chart' ></i> Rate = <!--<i style='color: #003f74;font-size:15px;' class='fa fa-inr' ></i> -->{{rate | currency:'INR':'symbol'}}</span> 
                  </div>
              </div>
            </div>
          <div class="row p-2">
              <div class="col">
                  <div style="width:100%" class="form-control">
                      <i style='color: #003f74;font-size:20px;' class='fa fa-money' ></i>
                      <input (keypress)="validate($event.target.value)" class="fontBottomlittle" [ngModelOptions]="{standalone: true}" [(ngModel)] ="inramount" (keyup)="setforex($event.target.value)" style="font-weight:bold;width:55%; text-decoration: none;margin-left:20px;border:0;text-align:left" type="number"  placeholder="INR Amount">
                    </div>
              </div>
            </div>
            <div class="row p-2">
                <div class="col">
                 
                </div>
                <div class="col">
                    <button (click)="addProduct()" style="background-color: #ffb500;width:100%;display: block; margin: 0 auto;" type="button" class="btn btn-primary">Add Product</button>
                  </div>
              </div>

             
                  <div class="table-responsive fontBottomlittle marginBottom ">
                  <table style="font-size:14px" class="table">
                      <thead  *ngIf ="showTable">
                            <th>Currency</th>
                            <th>Product</th>
                            <th>Forex Amount</th>
                            <th>INR Amount</th>
                            <th>Action</th>
                        </thead>
                        <tbody>   
                            <tr *ngFor="let order of ORDERITEM ">
                                <td>{{order.Currency}}</td>
                                <td>{{order.Product}}</td>
                                <td>{{order.ForexAmount}}</td>
                                <td>{{order.INRAmount}}</td>
                                <td  style="font-size:20px;text-align: center;cursor:pointer"><i  class='fa fa-trash' (click)="deleteorderitem(order.id)" aria-hidden='true'></i> </td>
                            </tr>
                        </tbody>
                </table>
                </div>


            <div class="fontBottomlittle marginBottom" id="totalCostofOrder">
              <div ><i style="font-size:30px;color:#003f74" class="fa fa-shopping-cart"></i>&nbsp;&nbsp;<i style="font-size:30px;color:#003f74" class="fa fa-inr"> {{totalAmountofCart|number:'2.2-3'}}</i></div>

            </div>  
               
          <div style="margin-top:10px;" class="row p-2">
              <div class="col">
                  <button style="background-color: #ffb500;width:50%;display: block; margin: 0 auto;" type="button" class="btn btn-primary">Book this Order</button>
              </div>
            </div> 
      </form> 
      
  </div>

  </div>


<br>

<br>

<div id="rate" class="carousel slide" data-interval="3000"   data-ride="carousel">


  <!-- <ol class="carousel-indicators">
    <li data-target="#cust_review" data-slide-to="0" class="active"></li>
    <li data-target="#cust_review" data-slide-to="1"></li>
    <li data-target="#cust_review" data-slide-to="2"></li>
    <li data-target="#cust_review" data-slide-to="3"></li>
    <li data-target="#cust_review" data-slide-to="4"></li>
  </ol> -->

  <div class="carousel-inner  text-center" style="border-radius:10px;border:1px solid #003f74 " width="1100" height="80">
    <div class="carousel-item active">
      <div class="row py-3" style="color:#000000;font-weight:bold;font-size:13px">
        <div  class="col-sm-3 borderb">
            <div  class="col">U S Dollor </div>
            <div class="w-100 d-none d-md-block"></div>
            <div class="col">BUY 0.00 </div>
            <div class="w-100 d-none d-md-block"></div>
            <div class="col">SELL 0.00 </div>
        </div>
        <div  class="col-sm-3 borderb">
            <div  class="col">U S Dollor </div>
            <div class="w-100 d-none d-md-block"></div>
            <div class="col">BUY 0.00 </div>
            <div class="w-100 d-none d-md-block"></div>
            <div class="col">SELL 0.00 </div>
        </div>
        <div class="col-sm-3 borderb">
            <div  class="col">U S Dollor </div>
            <div class="w-100 d-none d-md-block"></div>
            <div class="col">BUY 0.00 </div>
            <div class="w-100 d-none d-md-block"></div>
            <div class="col">SELL 0.00 </div>
        </div>
        <div class="col-sm-3 ">
            <div  class="col">U S Dollor </div>
            <div class="w-100 d-none d-md-block"></div>
            <div class="col">BUY 0.00 </div>
            <div class="w-100 d-none d-md-block"></div>
            <div class="col">SELL 0.00 </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="row py-3" style="color:#000000;font-weight:bold;font-size:13px">
        <div  class="col-sm-3 borderb">
            <div  class="col">U S Dollor </div>
            <div class="w-100 d-none d-md-block"></div>
            <div class="col">BUY 0.00 </div>
            <div class="w-100 d-none d-md-block"></div>
            <div class="col">SELL 0.00 </div>
        </div>
        <div  class="col-sm-3 borderb">
            <div  class="col">U S Dollor </div>
            <div class="w-100 d-none d-md-block"></div>
            <div class="col">BUY 0.00 </div>
            <div class="w-100 d-none d-md-block"></div>
            <div class="col">SELL 0.00 </div>
        </div>
        <div class="col-sm-3 borderb">
            <div  class="col">U S Dollor </div>
            <div class="w-100 d-none d-md-block"></div>
            <div class="col">BUY 0.00 </div>
            <div class="w-100 d-none d-md-block"></div>
            <div class="col">SELL 0.00 </div>
        </div>
        <div class="col-sm-3 ">
            <div  class="col">U S Dollor </div>
            <div class="w-100 d-none d-md-block"></div>
            <div class="col">BUY 0.00 </div>
            <div class="w-100 d-none d-md-block"></div>
            <div class="col">SELL 0.00 </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="row py-3" style="color:#000000;font-weight:bold;font-size:13px">
        <div  class="col-sm-3 borderb">
            <div  class="col">U S Dollor </div>
            <div class="w-100 d-none d-md-block"></div>
            <div class="col">BUY 0.00 </div>
            <div class="w-100 d-none d-md-block"></div>
            <div class="col">SELL 0.00 </div>
        </div>
        <div  class="col-sm-3 borderb">
            <div  class="col">U S Dollor </div>
            <div class="w-100 d-none d-md-block"></div>
            <div class="col">BUY 0.00 </div>
            <div class="w-100 d-none d-md-block"></div>
            <div class="col">SELL 0.00 </div>
        </div>
        <div class="col-sm-3 borderb">
            <div  class="col">U S Dollor </div>
            <div class="w-100 d-none d-md-block"></div>
            <div class="col">BUY 0.00 </div>
            <div class="w-100 d-none d-md-block"></div>
            <div class="col">SELL 0.00 </div>
        </div>
        <div class="col-sm-3 ">
            <div  class="col">U S Dollor </div>
            <div class="w-100 d-none d-md-block"></div>
            <div class="col">BUY 0.00 </div>
            <div class="w-100 d-none d-md-block"></div>
            <div class="col">SELL 0.00 </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="row py-3" style="color:#000000;font-weight:bold;font-size:13px">
        <div  class="col-sm-3 borderb">
            <div  class="col">U S Dollor </div>
            <div class="w-100 d-none d-md-block"></div>
            <div class="col">BUY 0.00 </div>
            <div class="w-100 d-none d-md-block"></div>
            <div class="col">SELL 0.00 </div>
        </div>
        <div  class="col-sm-3 borderb">
            <div  class="col">U S Dollor </div>
            <div class="w-100 d-none d-md-block"></div>
            <div class="col">BUY 0.00 </div>
            <div class="w-100 d-none d-md-block"></div>
            <div class="col">SELL 0.00 </div>
        </div>
        <div class="col-sm-3 borderb">
            <div  class="col">U S Dollor </div>
            <div class="w-100 d-none d-md-block"></div>
            <div class="col">BUY 0.00 </div>
            <div class="w-100 d-none d-md-block"></div>
            <div class="col">SELL 0.00 </div>
        </div>
        <div class="col-sm-3 ">
            <div  class="col">U S Dollor </div>
            <div class="w-100 d-none d-md-block"></div>
            <div class="col">BUY 0.00 </div>
            <div class="w-100 d-none d-md-block"></div>
            <div class="col">SELL 0.00 </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="row py-3" style="color:#000000;font-weight:bold;font-size:13px">
        <div  class="col-sm-3 borderb">
            <div  class="col">U S Dollor </div>
            <div class="w-100 d-none d-md-block"></div>
            <div class="col">BUY 0.00 </div>
            <div class="w-100 d-none d-md-block"></div>
            <div class="col">SELL 0.00 </div>
        </div>
        <div  class="col-sm-3 borderb">
            <div  class="col">U S Dollor </div>
            <div class="w-100 d-none d-md-block"></div>
            <div class="col">BUY 0.00 </div>
            <div class="w-100 d-none d-md-block"></div>
            <div class="col">SELL 0.00 </div>
        </div>
        <div class="col-sm-3 borderb">
            <div  class="col">U S Dollor </div>
            <div class="w-100 d-none d-md-block"></div>
            <div class="col">BUY 0.00 </div>
            <div class="w-100 d-none d-md-block"></div>
            <div class="col">SELL 0.00 </div>
        </div>
        <div class="col-sm-3 ">
            <div  class="col">U S Dollor </div>
            <div class="w-100 d-none d-md-block"></div>
            <div class="col">BUY 0.00 </div>
            <div class="w-100 d-none d-md-block"></div>
            <div class="col">SELL 0.00 </div>
        </div>
      </div>
    </div>
  </div>


  <a class="carousel-control-prev" href="#rate" data-slide="prev">
     <span  class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#rate" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>
<br>

  <button style="background-color: #ffb500;width:50%;display: block; margin: 0 auto;" type="button" class="btn btn-primary">See Full Rate Card</button>
<br>

<br>
  <div class="row">
    <div class="col">
      <img style="display: block; margin: 0 auto;padding: 3px;" src="../assets/images/img1.png" alt="callback" />
      <button style="background-color: #ffb500;width: 100%;display: block; margin: 0 auto;"  class="btn">Request Call Back</button>
    </div>
    <div class="col">
      <img style="display: block; margin: 0 auto;padding: 3px;" src="../assets/images/img2.png" alt="rateAlert" />
      <button style="background-color: #ffb500;width: 100%;display: block; margin: 0 auto;"  class="btn">Set Rate Alert</button>
    </div>
    <div class="col">
      <img style="display: block; margin: 0 auto;padding: 3px;" src="../assets/images/img3.png" alt="RequestBeterRat" />
      <button style="background-color: #ffb500;width: 100%;display: block; margin: 0 auto;"  class="btn">Request Better Rate</button>
    </div>
    <div class="col">
      <img style="display: block; margin: 0 auto;padding: 3px;" src="../assets/images/img4.png" alt="TourTravl"/>
      <button style="background-color: #ffb500;width: 100%;display: block; margin: 0 auto;"  class="btn">Tour and Travel</button>
    </div>
  </div>
<br>
<br>

<div id="cust_review" class="carousel slide"  data-ride="carousel">


  <!-- <ol class="carousel-indicators">
    <li data-target="#cust_review" data-slide-to="0" class="active"></li>
    <li data-target="#cust_review" data-slide-to="1"></li>
    <li data-target="#cust_review" data-slide-to="2"></li>
    <li data-target="#cust_review" data-slide-to="3"></li>
    <li data-target="#cust_review" data-slide-to="4"></li>
  </ol> -->


  <div class="carousel-inner  text-center" style="background-color:#61cce6;border-radius:10px" width="1100" height="80">
    <div class="carousel-item active">
      <h4 style="color:#ffffff">Tom - Assistant Manager</h4>
      <p >  Abuses akin to ballot stuffing of favourable reviews by the seller, or negative reviews by competitors, need to be policed by the review host site. Since few sites restrict users to reviewing only items purchased from that site, it is difficult to prove a customer has actually used the product they are reviewing.</p>
    </div>
    <div class="carousel-item">
      <h4 style="color:#ffffff">Mike - Travellor</h4>
      <p>  Abuses akin to ballot stuffing of favourable reviews by the seller.</p>
    </div>
    <div class="carousel-item">
      <h4 style="color:#ffffff">Ben - Artist</h4>
      <p>  Abuses akin to ballot stuffing of favourable reviews by the seller.</p>
    </div>
    <div class="carousel-item">
      <h4 style="color:#ffffff">Rack - Business Manager</h4>
      <p>  Abuses akin to ballot stuffing of favourable reviews by the seller.</p>
    </div>
    <div class="carousel-item">
      <h4 style="color:#ffffff">Tise</h4>
      <p>  Abuses akin to ballot stuffing of favourable reviews by the seller.</p>
    </div>
  </div>


  <a class="carousel-control-prev" href="#cust_review" data-slide="prev">  </a>
  <a class="carousel-control-next" href="#cust_review" data-slide="next">  </a>
</div>
<br>
<div class="row py-3" style="border-bottom:1px solid #ffb500;color:#000000;font-weight:bold;font-size:13px">
  <div class="col-md-3">
      <div style="font-size:25px" class="col">Services </div>
      <div class="w-100 d-none d-md-block"></div>
      <div class="col">Currency Exchange Services </div>
      <div class="w-100 d-none d-md-block"></div>
      <div class="col">Prepaid Travel Forex Card</div>
      <div class="w-100 d-none d-md-block"></div>
      <div class="col">International Money Transfers</div>
      <div class="w-100 d-none d-md-block"></div>
      <div class="col">Product & Services</div>
  </div>
  <div class="col-md-3">
      <div style="font-size:25px" class="col">Help</div>
      <div class="w-100 d-none d-md-block"></div>
      <div class="col">FAQS</div>
      <div class="w-100 d-none d-md-block"></div>
      <div class="col">Terms and Condtions</div>
      <div class="w-100 d-none d-md-block"></div>
      <div class="col">Offers</div>
      <div class="w-100 d-none d-md-block"></div>
      <div class="col">Disclaimer</div>
  </div>
  <div class="col-md-3">
    <div style="font-size:25px" class="col">Contact Us</div>
    <div class="w-100 dmdone d-md-block"></div>
    <div class="col">Nishi Forex & Leisure Pvt.Ltd.</div>
    <div class="w-100 d-none d-md-block"></div>
    <div class="col">No:536, Amar Jyothi Layout, 100 Feet Intermediate Ring Road, Banglore - 560071</div>
  </div>
  <div  class="col-md-3">
    <div style="font-size:25px" class="col">Need Nishi Help?</div>
    <div class="w-100 d-none d-md-block"></div>
    <div class="col">We would be more happy to help you.</div>
    <div class="w-100 d-none d-md-block"></div>
    <div class="col">Our Team Advisor are 24/7 at your service to help you.</div>
    <h2><span style="background-color:#003f74" class="badge badge-secondary"> &#9990; 1800 123 3066</span></h2>
  </div>
</div>
<br>
  <p  class="text-center  align-baseline" style="font-size:25px;font-weight:bold;color:#ffb500; text-shadow: 2px 2px 4px #cccccc">Like, Follow & Review Us On:</p>
  <div  class="row justify-content-center" >
      <img style="padding:3px" src="../assets/images/f.png" alt="facebook" >
      <img style="padding:3px" src="../assets/images/o.png" alt="o" >
      <img style="padding:3px" src="../assets/images/t.png" alt="twiter" >
      <img style="padding:3px" src="../assets/images/f.png" alt="twiter" >
  </div>
<br>

  <footer class="footer" >
       <div class="container center">
         <div class="row justify-content-left" style="background-color:#ffb500;">
           <a class="nav-link js-scroll-trigger" > &copy;2015 - 2018 Nishi Forex & Leisure Pvt.Ltd. All Rights Reserved</a>
         </div>
       </div>
    </footer>
   
</div>


